{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Performance Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  No. of Commits
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Kinjal Bhattacharyya
                </td>
                <td>
                  Ireland
                </td>
                <td>
                  Dublin
                </td>
                <td class="text-center">
                  8
                </td>
              </tr>
              <tr>
                <td>
                  Kinjal-16
                </td>
                <td>
                  Ireland
                </td>
                <td>
                  Dublin
                </td>
                <td class="text-center">
                  7
                </td>
              </tr>
              <tr>
                <td>
                  noelpeter1003
                </td>
                <td>
                  ireland
                </td>
                <td>
                  Dublin
                </td>
                <td class="text-center">
                  1
                </td>
              </tr>
              <tr>
                <td>
                  pulikkan
                </td>
                <td>
                  Ireland
                </td>
                <td>
                  Dublin
                </td>
                <td class="text-center">
                 4
                </td>
              </tr>
              <tr>
                <td>
                  PradyumnBhardwaj
                </td>
                <td>
                  Ireland
                </td>
                <td>
                  Dublin
                </td>
                <td class="text-center">
                  9
                </td>
              </tr>
              <tr>
                <td>
                  Canonyai
                </td>
                <td>
                  Ireland
                </td>
                <td>
                  Dublin
                </td>
                <td class="text-center">
                  1
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
