{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title">Performance Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  Hours Spent
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Noel Peter
                </td>
                <td>
                  India
                </td>
                <td>
                  Mumbai
                </td>
                <td class="text-center">
                  3 hours
                </td>
              </tr>
              <tr>
                <td>
                  Tom Cruise
                </td>
                <td>
                  America
                </td>
                <td>
                  California
                </td>
                <td class="text-center">
                  4 hours
                </td>
              </tr>
              <tr>
                <td>
                  Cole Mendes
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Amsterdam
                </td>
                <td class="text-center">
                  4 Hours
                </td>
              </tr>
              <tr>
                <td>
                  Philip Booker
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Amsterdam
                </td>
                <td class="text-center">
                  5 Hours
                </td>
              </tr>
              <tr>
                <td>
                  Niko Omilana
                </td>
                <td>
                  UK
                </td>
                <td>
                  London
                </td>
                <td class="text-center">
                  3 Hours
                </td>
              </tr>
              <tr>
                <td>
                  Harry Potter
                </td>
                <td>
                  UK
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  5 hours
                </td>
              </tr>
              <tr>
                <td>
                  Cristiano Ronaldo
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Lisbon
                </td>
                <td class="text-center">
                  5 hours
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
