

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" class="simple-text logo-normal">
              <p>SWENG Project</p>
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}
        <li class="{% if 'page-user' in segment %} active {% endif %}">
          <a href="{% url 'githubPage' %}">
            <i class="tim-icons icon-single-02"></i>
            <p>Home</p>
          </a>
        </li>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="/ui-tables.html">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Performance Overview</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
              <i class="tim-icons icon-headphones"></i>
              <p>Click Me</p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
